
body {
    background: #FFFFFF;
    color: #000305;
    font-size: 90%; /* Base font size: 14px */
    font-family: 'Trebuchet MS', Trebuchet, 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height: 1.429;
    margin: 10%;
    padding: 0;
    text-align: left;
    max-width: 420pt
}

